{
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-pipeline-operator",
            {
                "proposal": "minimal"
            }
        ],
        "@babel/proposal-class-properties"
    ],
    "env": {
        "production": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "useBuiltIns": "usage",
                        "corejs": {
                            "version": 3,
                            "proposals": true
                        },
                        "debug": true
                    }
                ]
            ]
        },
        "dev": {
            "presets": [
                [
                    "@babel/preset-env"
                ]
            ],
            "plugins": [
                "@emotion"
            ]
        }
    }
}