html {
    font-size: 16px;
}

@font-face {
    font-family: 'Dosis';
    src: url('./assets/Dosis-Medium.ttf')
}

.search-text {
    font-size: 20px;
    color: red;
    font-family: 'Dosis';
}
.search-image {
    display: flex;
    max-width: 200px;
}


